.banner {
    height: 60%;
    background: url(../../../images/header-image.jpg) 30% -10% fixed no-repeat;
    text-align: center;
    .vertical-align {
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        p {
            color: #fff;
            letter-spacing: 2px;
            margin: 10px 25px;
            font-size: 17px;
        }
        img {
            width: 200px;
        }
    }
}

.mobile {
    .banner {
        height: 100%;
    }
}

.about_pan_home,
.products-container > .container {
    padding: 5rem 0;
    aside section {
        margin-bottom: 50px;
        h3 {
            font-weight: 900;
            color: #000;
            padding-bottom: 14px;
            font-size: 13px;
            line-height: 14px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }
    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #4e4a4f;
        letter-spacing: 1px;
    }
}

.partners {
    position: relative;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    .partners-title {
        font-size: 1.6rem;
        color: #616161;
        font-weight: 900;
        line-height: 33px;
        text-transform: uppercase;
        text-align: center;
    }

    .partners-images {
        padding: 0;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        a {
            margin: 0 1.2rem;
            padding: 0;
            height: auto;
            border-radius: 0;
            display: inline-block;
            -webkit-box-shadow: none;
            box-shadow: none;
            img {
                display: block;
                height: 20px;
                margin: 5px auto;
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                /* Firefox 3.5+ */
                filter: gray;
                /* IE6-9 */
                -webkit-filter: grayscale(100%);
                /* Chrome 19+ & Safari 6+ */
            }
            img:hover {
                filter: none;
                -webkit-filter: grayscale(0%);
            }
        }
    }
}