.modal {
    text-align: center;
    padding: 0!important;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        .close {
            font-size: 25px;
            outline: none;
        }
        .modal-body {
            img.scheme {
                max-width: calc(100% - 110px);
            }
        }
    }
}