*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-fixed-top {
    background: $green-color;
    padding: 10px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background: none;
}

ul.marni-navigation {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-top: -3px;
    padding: 0;
}

.marni-navigation a,
.marni-navigation a.active {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    .glyphicon-menu-down.left {
        margin-right: 10px;
        display: none;
    }
    .glyphicon-menu-down.right {
        margin-left: 10px;
    }
}

.marni-navigation a:hover,
.marni-navigation a:focus {
    outline: none;
    cursor: pointer;
}

.marni-navigation li {
    overflow: hidden;
    >a {
        padding: 10px;
        color: #000;
        font-weight: 700;
        text-shadow: none;
    }
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: none;
    color: #fff;
    border: none;
}

.marni-navigation>li>a,
body:not(.mobile) .marni-navigation>li.open {
    a,
    a:hover,
    a:focus,
    &:hover,
    &:focus,
    &.active {
        background: none;
        color: #fff;
    }
    a::before,
    a::after,
    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    a::before,
    &::before {
        top: 0;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    a::after,
    &::after {
        bottom: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
    }

    a::before,
    a::after,
    &:hover::before,
    &:focus::before,
    &.active::before,
    &:hover::after,
    &:focus::after,
    &.active::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}


body.mobile {
    #main-nav {
        .marni-navigation {
            width: 100%;
            li {
                a {
                    color: #5f6f81;
                    font-weight: 300;
                    line-height: 20px;
                    height: auto;
                    min-height: 40px;
                    margin: auto;
                    padding: 15px 10px;
                    border-bottom: 1px solid $shadow-color;
                    &.active:not(.mobile-not-active) {
                        background: darken($green-color, 5%);
                        color: white;
                        border: none;
                    }
                    .glyphicon-menu-down.left {
                        display: inline-block;
                    }
                    .glyphicon-menu-down.right {
                        display: none;
                    }
                }
                .sub-menu {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    a {
                        padding-left: 34px;
                        color: $green-color;
                        &.active {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

body:not(.mobile) #main-nav {
    >.marni-navigation {
        .sub-menu {
            display: none;
        }
        li.open {
            .sub-menu {
                display: block;
                list-style: none;
                margin: 0px;
                margin-top: -5px;
                padding: 0px;
                background-color: white;
                max-width: 240px;
                li {
                    line-height: 25px;
                    a {
                        color: #5f6f81;
                        font-weight: 300;
                        line-height: 25px;
                        min-height: 60px;
                        margin: 0px;
                        padding: 15px 10px;
                        width: 100%;
                        border-radius: 0px;
                        font-size: 15px;
                        -webkit-box-shadow: inset 0px -3px 1px 0px $shadow-color;
                        -moz-box-shadow: inset 0px -3px 1px 0px $shadow-color;
                        box-shadow: inset 0px -3px 1px 0px $shadow-color;
                        margin-top: -2px;
                        &:hover,
                        &:focus,
                        &.active {
                            color: white;
                            background: $green-color;
                        }
                    }
                }
            }
        }
    }
}