.partners-container{
  padding-top: 96px;
  padding-bottom: 53px;
}
.partners {
    margin: 48px 0;

    .partners-item {
      position: relative;
      width: 30%;
      display: inline-block;
      margin: 0 30px 10px;
      .partners-item-content{
        margin-left: 30px;
        display: inline-block;
        width: calc(100% - 135px);
        float: right;
      }
    }

    img {
      width: 100px;
      display: inline-block;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
    }

    .partners-item-header {
      font-size: 13px;
      line-height: 14px;
      letter-spacing: 5px;
      color: #000;
      font-weight: 900;
    }

    .partners-item-description {
        margin-top: 8px;
        color: #555;
        font-size: 14px;
        line-height: 23px;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1152px) {
    .partners-item {
        width:50%;
    }
}

@media screen and (max-width: 640px) {
    .design-features {
        padding:48px 0;
    }

    .partners-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
    }

    img {
        height: 80px;
        width: 80px;
    }

    .partners-item-description,.partners-item-header {
        font-size: 12px;
    }
}
