@media all and (max-device-height: 768px) {
    div.navbar-header {
        width: 120px;
        >a>img {
            height: 30px;
        }
    }
    .navbar-fixed-top {
        height: 40px;
    }
    .marni-navigation a,
    .marni-navigation a.active {
        font-size: 1em;
    }
    img.flag {
        width: 17px;
        height: 12px;
    }
    .marni-navigation a,
    .marni-navigation a.active {
        margin: 15px 10px;
    }
}

@media all and (max-device-height: 1024px) {
    div.navbar-header {
        width: 120px;
        >a>img {
            height: 30px;
        }
    }
    .navbar-fixed-top {
        height: 40px;
    }
    .marni-navigation a,
    .marni-navigation a.active {
        font-size: 1em;
    }
    img.flag {
        width: 22px;
    }
    .marni-navigation a,
    .marni-navigation a.active {
        margin: 15px 10px;
    }
}

@media (min-width: 768px) {
    .mobile {
        header .navbar-header,
        .navbar-nav>li {
            float: none;
        }
    }
    main {
        margin-top: 50px;
    }
}

@media (min-width: 1024px) {
    .mobile {
        .navbar-header {
            width: auto;
            img {
                height: 35px;
            }
        }
        img.flag {
            width: 45px;
        }
    }
}