.modal-body.slider-body {
    padding: 0;
    .close {
        position: absolute;
        z-index: 10;
        right: 0;
        top: -1px;
        height: 26px;
        width: 25px;
        color: white;
        background-color: rgba(0, 0, 0, .7);
        text-align: center;
        text-shadow: none;
        opacity: .4;
        &:hover {
            opacity: 1;
        }
    }
}

.carousel-inner {

    .item {
        img {
            width: 980px;
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.carousel-indicators {
    position: static;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    text-align: center;
    list-style: none;
    background: $green-color;
    margin: 0;
    line-height: 25px;
    .active {
        width: 10px;
        height: 10px;
    }
}